{% extends 'base.html' %}

{% block content %}
<style>
    /* Gaya untuk kotak formulir */
    body{
        background-color: #4a81a8e1;
    }
    .form-container {
        background-color: #cae8f7be;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        font-size: 28px;
        margin-bottom: 20px;
    }

    /* Gaya untuk tabel formulir */
    table {
        width: 94%;
        height: 90%;
    }

    td {
        padding: 10px;
    }

    /* Gaya untuk input dan tombol */
    input[type="text"],
    input[type="password"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #4494e9;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
    }

    input[type="submit"]:hover {
        background-color: #1f62a9;
    }
</style>
<body>
    <div class="form-container">
        <h1>Add New Product</h1>
    
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Add Product" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>


{% endblock %}
